<div id="wrapper">

	<!--NAVIGATION (menu left)-->
	<div class="container">
	<div class="header-quote">“Happily ever after is not a fairy tale. It’s a choice.”</div>
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger">
				<div class="trigger"><a class="gn-icon gn-icon-menu"><span>Menu</span></a></div>
				<nav class="gn-menu-wrapper">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li><a href="index.html#home" class="gn-icon fa-heart">Home</a></li>
							<li><a href="index.html#story" class="gn-icon fa-comment">The Story</a></li>
							<li><a href="index.html#about" class="gn-icon fa-users">Special Guests</a></li>
							<li>
								<ul class="gn-submenu">
									<li><a href="index.html#parents" class="gn-icon fa-chevron-right">Parents</a></li>
									<li><a href="index.html#godfathers" class="gn-icon fa-chevron-right">Godfathers</a></li>
									<li><a href="index.html#maids" class="gn-icon fa-chevron-right">Bridesmaids & Groomsmen</a></li>
								</ul>
							</li>
							<li><a href="index.html#events" class="gn-icon fa-glass">Events</a></li>
							<li>
								<ul class="gn-submenu">
									<li><a href="index.html#ceremony" class="gn-icon fa-chevron-right">Wedding Ceremony</a></li>
									<li><a href="index.html#party" class="gn-icon fa-chevron-right">Wedding Party</a></li>
								</ul>
							</li>
							<li><a href="index.html#registry" class="gn-icon fa-gift">Gift Registry</a></li>
							<li><a href="index.html#album" class="gn-icon fa-camera">Photo Album</a></li>
							<li><a href="index.html#rsvp" class="gn-icon fa-book">RSVP</a></li>
						</ul>
					</div><!--end gn-scroller-->
				</nav>
			</li>
			<li class="back"><a class="gn-icon fa-angle-double-up" href="index.html#top"></a></li>
		</ul>
	</div><!--end container-->
	<section class="ss-style-bottom"></section>
	<!--END NAVIGATION (menu left)-->
	
	
	
	<!--HEADER-->
	<div id="home">
		<ul id="cbp-bislideshow" class="cbp-bislideshow">
      <li>
        <img src='assets/1.jpg'/>
      </li>
      <li>
        <%= image_tag('2.jpg') %>
      </li>
      <li>
        <%= image_tag('3.jpg') %>
      </li>
		</ul>
		<div class="container">
			<div class="header animated tada">
				<h1>Jason & Sarah</h1>
				<h4>ARE GETTING MARRIED</h4>
				<hr />
				<h4>Sunday, 24th of May 2015 at “La Pirati”, Vama Veche</h4>
				<div class="header-button">
					<a href="index.html#guestbook">CELEBRATE WITH US!</a>
				</div>
			</div>
		</div>
	</div><!--end #home-->
	<!--END HEADER-->
	
	
	
	<!--STORY-->
	<div id="story">
	<div class="story-content">
		<div class="container">
			<h3>Him & Her. Their Happy Story!</h3>
			<div class="heart content-style"></div>
		
			<div class="row">
				<div class="col-md-3">
					<div class="shape">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
							<img src="assets/her.jpg" alt="" />
						</div>
					</div>
						<h4 class="bride-name">Sarah Jones</h4>
						<h3 class="bride-description">Bride</h3>
							<div class="social">
								<a href="index.html#"><i class="fa-facebook"></i></a>
								<a href="index.html#"><i class="fa-twitter"></i></a>
							</div>
				</div><!--end col-md-3-->
				<div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra diam ut lorem fringilla, et pellentesque tortor suscipit. Integer cursus posuere libero porta molestie. Integer vitae sem dui. Quisque aliquet porta purus, non dapibus nisi tempor adipiscing. Pellentesque habitant morbi tristique senectus et netus et malesuada est dui vel congue turpis venenatis in. Aliquam malesuada sapien sit amet nunc bibendum pellentesque. Mauris molestie condimentum nulla. Integer et lacus massa. Aliquam adipiscing congue ante non accumsan. Donec cursus fringilla facilisis.</p>
					
					<p>Vivamus fringilla euismod risus, et pretium odio aliquet id. Duis at posuere urna. Fusce sit amet iaculis nibh. Maecenas vitae quam mi. Vivamus viverra, lorem vitae placerat ultricies, nisi massa pretium tortor, eget malesuada ligula arcu id leo. Pellentesque dapibus justo enim, sed molestie odio ultricies ac. Aliquam tempor augue nulla, at vestibulum nisi hendrerit vel. Mauris rutrum est at massa blandit fermentum. Vivamus velit libero, dignissim in tincidunt eu, posuere vitae justo.</p>
					
					<p>Maecenas ultricies tincidunt felis non vulputate. Phasellus sit amet scelerisque tellus. Nulla lacinia et lorem quis molestie. Vestibulum at lectus nec sem accumsan laoreet vel id nisi. Nulla sit amet hendrerit nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
				
					<p>. . . </p>
				</div><!--end-col-md-6-->
				<div class="col-md-3">
					<div class="shape">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
							<img src="assets/him.jpg" alt="" />
						</div>
					</div>
						<h4 class="groom-name">Jason Smith</h4>
						<h3 class="groom-description">Groom</h3>
							<div class="social">
								<a href="index.html#"><i class="fa-facebook"></i></a>
								<a href="index.html#"><i class="fa-twitter"></i></a>
							</div>
				</div><!--end col-md-3-->
			</div><!--end row-->
			
		</div><!--end container-->
	</div><!--end story content-->
	</div><!--end #story-->
	<!--END STORY-->
	
	
	
	<!--TIMER-->
	<div id="timer">
		<div class="container">	
			<div id="countdown-bg">
				<ul id="countdown">
					<li> <span class="days">00</span>
					<div class="timeRefDays">days</div>
					</li>
					<li> <span class="hours">00</span>
					<div class="timeRefHours">hours</div>
					</li>
					<li> <span class="minutes">00</span>
					<div class="timeRefMinutes">minutes</div>
					</li>
					<li> <span class="seconds">00</span>
					<div class="timeRefSeconds">seconds</div>
					</li>
				</ul>
			</div>
			<div class="timer-text"><h2>till the happy event!</h2></div>
		</div><!--end container-->
	</div><!--end #timer-->
	<!--END TIMER-->
	
	
	
	<!--ABOUT-->
	<div id="about">
		<div class="container">	
		
		
			<!--Parents-->
			<div id="parents">
				<h3>The Happy Couple's Parents</h3>
				<div class="heart content-style"></div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="parents">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
							<img src="assets/her-mother.jpg" alt="" />
						</div>
						<div class="parents-text-women"><h4>Ana Jones</h4></div>
						</div>
					</div><!--end col-md-2-->
					<div class="col-md-2">
						<div class="parents">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
							<img src="assets/her-father.jpg" alt="" />
						</div>
						<div class="parents-text-men"><h4>Paul Jones</h4></div>
						</div>
					</div><!--end col-md-2-->
					<div class="col-md-4">
						<div class="parents-text"><h2>&laquo; &nbsp; hers &nbsp; &  &nbsp; his &nbsp; &raquo; </h2></div>
					</div><!--end col-md-4-->
					<div class="col-md-2">
						<div class="parents">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
							<img src="assets/his-mother.jpg" alt="" />
						</div>
						<div class="parents-text-women"><h4>Lara Smith</h4></div>
						</div>
					</div><!--end col-md-2-->
					<div class="col-md-2">
						<div class="parents">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
							<img src="assets/his-father.jpg" alt="" />
						</div>
						<div class="parents-text-men"><h4>George Smith</h4></div>
						</div>
					</div><!--end col-md-2-->
				</div><!-- end row -->
			</div><!--end #parents-->
			
			
			<!--Godfathers-->
			<div id="godfathers">
				<h3>The Godfathers</h3>
				<div class="heart content-style"></div>
				
				<div class="row">
					<div class="col-md-4">
						<div class="godfathers-text-women"><h4>Tina Snow</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor lectus eu congue fringilla. Vivamus malesuada dictum lorem.</p></div>
					</div><!--end col-md-4-->
					<div class="col-md-2">
						<div class="godfathers">
							<div class="overlay hexagon"></div>
							<div class="godfathers-img"><img src="assets/godmother.jpg" alt="" /></div>
						</div>
					</div><!--end col-md-2-->
					<div class="col-md-2">
						<div class="godfathers">
							<div class="overlay hexagon"></div>
							<div class="godfathers-img"><img src="assets/godfather.jpg" alt="" /></div>
						</div>
					</div><!--end col-md-2-->
					<div class="col-md-4">
						<div class="godfathers-text-men"><h4>Derek Snow</h4>
						<p>Vivamus in sodales lorem. Nunc vel dolor at diam viverra dignissim. Cras a est eget nulla porttitor hendrerit. Nunc eget sapien.</p></div>
					</div><!--end col-md-4-->
				</div><!--end row-->
			</div><!--end #godfathers-->
					
					
			<div id="maids">
				<h3>Bridesmaids & Groomsmen</h3>
				<div class="heart content-style"></div>
				<div class="row">
					<div class="col-md-3">
						<div class="bridesmaid">
							<img src="assets/bridesmaid.png" alt="bridesmaids" />
						</div>
					</div><!--end col-md-3-->
					<div class="col-md-3 maids">
						<div class="bridesmaids">
						<h4>Jenny Doe</h4>
						<h4>Carla Croft</h4>
						<h4>Andrea James</h4>
						<h4>Tina Mosk</h4>
						<h4>Jessie Silver</h4>
						<h4>Vivian Stone</h4>
						</div>
					</div><!--end col-md-3-->
					<div class="col-md-3 maids">
						<div class="groomsmen">
						<h4>Brian Smith</h4>
						<h4>Alex Dean</h4>
						<h4>Karl Mann</h4>
						<h4>Robert Fox</h4>
						<h4>Steve Jones</h4>
						<h4>Daryl Gold</h4>
						</div>
					</div><!--end col-md-3-->
					<div class="col-md-3">
						<div class="bestman">
							<img src="assets/bestman.png" alt="bestmen" />
						</div>
					</div><!--end col-md-3-->
					
				</div><!--end row-->
			</div><!--end #maids-->
			
		</div><!-- end container-->
	</div><!--end #about-->
	<!--END ABOUT-->
	
	
	
	<!--EVENTS-->
	<div id="events">
		<div class="container">
			<div class="events">
				<h2>You are welcome to attend our Wedding Ceremony and our Wedding Party<br /> on 24th of May at "La Pirati", Vama Veche!</h2>
				<div class="events-button">
					<a href="index.html#guestbook">RSVP here</a>
				</div>
			</div>
		</div><!--end container-->
	</div><!--end #events-->
	<!--END EVENTS-->
	
	
	
	<!--WEDDING-->
	<div id="wedding">
		<div class="container">
		
			<div id="ceremony">
			<h3>The Wedding Ceremony</h3>
			<div class="heart content-style"></div>
			
				<div class="row">
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Date:</h4> <p>24th of May 2015</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Time:</h4> <p>4:00 in the afternoon</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Location:</h4> <p>Church "St. Patrick", Vama Veche</p>
						</div>
					</div><!--end col-md-4-->
				</div><!--end row-->
				
				<div class="row">
					<div class="col-md-6">
						<div class="ceremony-text">
						<p>Cursus risus, incidunt felis condimentum eget. Curabitur convallis ultricies tristique. Vivamus in sodales lorem. Nunc vel dolor at diam viverra dignissim. Cras a est eget nulla porttitor hendrerit. Nunc eget sapien hendrerit, lobortis dolor mattis, pretium tellus. Mauris ultricies aliquet leo bibendum elementum. Fusce et auctor ipsum. Nunc nec consequat sapien. Nunc imperdiet turpis justo, vel viverra velit sollicitudin a. Morbi non sapien sit amet orci eleifend. Praesent porta, justo quis blandit iaculis, nibh sapien volutpat justo, non fringilla mi tellus at nisl. Nullam eleifend vestibulum iaculis. Nullam velit urna, dapibus sed varius sit amet, venenatis sed ligula. Nam vulputate mi ut lorem lobortis, ac elementum risus dictum. Maecenas fermentum ornare ante, vel congue turpis venenatis in. Quisque quis enim sagittis, commodo sapien vel, interdum nunc. Vivamus nec ultrices risus. Vestibulum congue, diam id volutpat consectetur, dui ligula tincidunt nisi.</p>
						</div>
					</div><!--end col-md-6-->
					<div class="col-md-6">
						<!-- Slideshow -->
						<div class="rslides_container">
						  <ul class="rslides" id="slider">
							<li><img src="assets/ceremony1.jpg" alt=""></li>
							<li><img src="assets/ceremony2.jpg" alt=""></li>
							<li><img src="assets/ceremony3.jpg" alt=""></li>
						  </ul>
						</div>
					</div><!--end col-md-6-->
				</div><!--end row-->	
			</div><!--end #ceremony-->
			
			
			<div id="party">
			<h3>The Wedding Party</h3>
			<div class="heart content-style"></div>
			
				<div class="row">
					<div class="col-md-4">
						<div class="party-data">
						<h4>Date:</h4> <p>24th of May 2015</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="party-data">
						<h4>Time:</h4> <p>7:00 in the evening</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="party-data">
						<h4>Location:</h4> <p>Restaurant "La Pirati", Vama Veche</p>
						</div>
					</div><!--end col-md-4-->
				</div><!--end row-->
				
				<div class="row">
					<div class="party-text">
						<p>Sanitas vitae massa ligula. Donec scelerisque rutrum libero tempus posuere. Morbi tristique diam non porttitor aliquet. Morbi gravida bibendum leo, sed porta mauris laoreet in. Duis sed elit mauris. Donec mollis sapien in quam aliquam sodales. Integer mattis leo ac ante suscipit semper. Curabitur vel malesuada augue, non ultrices lacus. Vestibulum id suscipit leo, ac semper lectus. Aenean mollis neque mi, vel eleifend neque vestibulum vel. Mauris orci diam, bibendum eu lobortis.</p>
					</div>
				</div><!--end row-->
				
				<div class="row">
					<div id="party-carousel">
						<div class="item"><img src="assets/party1.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party2.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party3.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party4.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party5.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party6.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party7.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party8.jpg" alt="Image"></div>
					</div>
				</div><!--end row-->
				
				<div class="row">
					<div class="col-md-6">
						<div class="party-text">
							<p>Utentis laoreet tellus ut nisl porta, nec lobortis leo rutrum. Phasellus varius sapien eget sapien vulputate, vitae aliquet urna commodo. Etiam euismod ipsum vel erat facilisis posuere. Phasellus iaculis felis vel facilisis pretium.</p>
							<div class="location-data">
								<h4>Restaurant "La Pirati"</h4>
								<p>Sesame Street No.69<br />
									 450321, Vama Veche</p>
							</div>
						</div>
					</div><!--end col-md-6-->
					<div class="col-md-6">
							<div id="gmap">
								<div id="location"></div>
							</div>
					</div><!--end col-md-6-->
				</div><!--end row-->
			</div><!--end #party-->
			
		</div><!--end container-->
	</div><!--end #wedding-->
	<!--END WEDDING-->
	
	
	
	<!--GIFT REGISTRY-->
	<div id="registry">
		<div class="container">
			<div class="registry-text">
				<h2>View the Gift Registry and offer us a start in building our future together.</h2>
			</div>
			<div class="row registry"><div class="registry-logos">
				<div class="col-md-3">
					<a href="index.html#" target="_blank"><img src="assets/registry-logo1.png" alt="logo1"/></a>
				</div><!--end col-md-3-->
				<div class="col-md-3">
					<a href="index.html#" target="_blank"><img src="assets/registry-logo2.png" alt="logo2" /></a>
				</div><!--end col-md-3-->
				<div class="col-md-3">
					<a href="index.html#" target="_blank"><img src="assets/registry-logo3.png" alt="logo3" /></a>
				</div><!--end col-md-3-->
				<div class="col-md-3">
					<a href="index.html#" target="_blank"><img src="assets/registry-logo4.png" alt="logo4" /></a>
				</div><!--end col-md-3-->
			</div></div><!--end row-->
			<div class="row"><div class="registry-logos">
				<div class="col-md-3">
				</div><!--end col-md-3-->
				<div class="col-md-3">
					<a href="index.html#" target="_blank"><img src="assets/registry-logo5.png" alt="logo5" /></a>
				</div><!--end col-md-3-->
				<div class="col-md-3">
					<a href="index.html#" target="_blank"><img src="assets/registry-logo6.png" alt="logo6" /></a>
				</div><!--end col-md-3-->
				<div class="col-md-3">
				</div><!--end col-md-3-->
			</div></div><!--end row-->
		</div><!--end container-->
	</div><!--end #registry-->
	<!--END GIFT REGISTRY-->
	
	
	
	<!--PHOTO ALBUM-->
	<div id="album">
		<div class="container">
			<h3>The Lovers' Photo Album</h3>
			<div class="heart content-style"></div>
			
				<div class="album-text">
					<p>Sanitas vitae massa ligula. Donec scelerisque rutrum libero tempus posuere. Morbi tristique diam non porttitor aliquet. Morbi gravida bibendum leo, sed porta mauris laoreet in. Duis sed elit mauris. Donec mollis sapien in quam aliquam sodales. Integer mattis leo ac ante suscipit semper. Curabitur vel malesuada augue, non ultrices lacus. Vestibulum id suscipit leo, ac semper lectus. Aenean mollis neque mi, vel eleifend neque vestibulum vel. Mauris orci diam, bibendum eu lobortis.</p>
				</div>
				
				<div class="prettyPhoto-gallery">
				<section id="photostack" class="photostack">
					<div>
						<figure>
							<a data-rel="prettyPhoto[album]" href="assets/album/large1.jpg" class="photostack-img"><img src="assets/album/1.jpg" alt="Autumn Walk" /></a>
							<figcaption>
								<h2 class="photostack-title">Autumn Walk</h2>
								<div class="photostack-back">
									“I feel like everything in my life has led me to you. My choices, my heartbreaks, my regrets. Everything. My past seems worth it. Because if I had done one thing differently, I might never have met you.” 
								</div>
							</figcaption>
						</figure>
						<figure>
							<a data-rel="prettyPhoto[album]" href="assets/album/large3.jpg" class="photostack-img"><img src="assets/album/3.jpg" alt="Happy Moments"/></a>
							<figcaption>
								<h2 class="photostack-title">Happy Moments</h2>
								<div class="photostack-back">		
									"The only way you can beat my crazy was by doing something crazy yourself. Thank you. I love you. I knew it the minute I met you. I’m sorry it took so long for me to catch up. I just got stuck."
								</div>
							</figcaption>
						</figure>
						<figure>
							<a data-rel="prettyPhoto[album]" href="assets/album/large10.jpg" class="photostack-img"><img src="assets/album/10.jpg" alt="My Sunshine"/></a>
							<figcaption>
								<h2 class="photostack-title">My Sunshine</h2>
								<div class="photostack-back">
									"I want his fingers to always find the spaces in between mine." 
								</div>
							</figcaption>
						</figure>
						<figure>
							<a data-rel="prettyPhoto[album]" href="assets/album/large16.jpg" class="photostack-img"><img src="assets/album/16.jpg" alt="At the Countryside"/></a>
							<figcaption>
								<h2 class="photostack-title">At the Countryside</h2>
								<div class="photostack-back">
									"I've looked around enough to know that you're the one I want to go through time with."
								</div>
							</figcaption>
						</figure>
						<figure>
							<a data-rel="prettyPhoto[album]" href="assets/album/large9.jpg" class="photostack-img"><img src="assets/album/9.jpg" alt="Relaxing on the Beach"/></a>
							<figcaption>
								<h2 class="photostack-title">Relaxing on the Beach</h2>
								<div class="photostack-back">			
									"Before we met, I was as lost as a person could be and yet you saw something in me that somehow gave me direction again."
								</div>
							</figcaption>
						</figure>
						<figure>
							<a data-rel="prettyPhoto[album]" href="assets/album/large4.jpg" class="photostack-img"><img src="assets/album/4.jpg" alt="Love is in the Air"/></a>
							<figcaption>
								<h2 class="photostack-title">Love is in the Air</h2>
								<div class="photostack-back">		
									"You do realize that your greatest superpower is your ability to win me over with just one look, no matter how ridiculous you sound, right?"
								</div>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/7.jpg" alt="img07"/></a>
							<figcaption>
								<h2 class="photostack-title">Fit for Each Other</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/8.jpg" alt="img08"/></a>
							<figcaption>
								<h2 class="photostack-title">One Rainy Day</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/6.jpg" alt="img06"/></a>
							<figcaption>
								<h2 class="photostack-title">Just Happy</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/2.jpg" alt="img02"/></a>
							<figcaption>
								<h2 class="photostack-title">Country Talk</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/11.jpg" alt="img11"/></a>
							<figcaption>
								<h2 class="photostack-title">Resting in the Park</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/12.jpg" alt="img12"/></a>
							<figcaption>
								<h2 class="photostack-title">Eternity</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/13.jpg" alt="img13"/></a>
							<figcaption>
								<h2 class="photostack-title">A Romantic Date</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/14.jpg" alt="img14"/></a>
							<figcaption>
								<h2 class="photostack-title">Watching the Sky</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/15.jpg" alt="img15"/></a>
							<figcaption>
								<h2 class="photostack-title">There's Only Love</h2>
							</figcaption>
						</figure>
						<figure data-dummy>
							<a href="index.html#" class="photostack-img"><img src="assets/album/5.jpg" alt="img5"/></a>
							<figcaption>
								<h2 class="photostack-title">Together Again</h2>
							</figcaption>
						</figure>
						</div>
				</section>
				</div><!--end PrettyPhoto gallery-->
		</div><!--end container-->
	</div><!--end #album-->
	<!--END PHOTO ALBUM-->

	
	
	<!--RSVP-->
	<div id="rsvp">
		<div class="container">
			<div class="rsvp-text">
				<h2>Are you attending?</h2>
				<p>Please confirm your presence to the event until the 1st of May 2015. Thank you!</p>
			</div>
		</div><!--end container-->
	</div><!--end #rsvp-->
	<!--END RSVP-->
	
	
	
	<!--FORM-->
	<div id="form">
		<div class="container">
			<h3>RSVP</h3>
			<div class="heart content-style"></div>
			
				<div class="row">
						<div class="col-md-3 rsvp-image"><img src="assets/rsvp-left.png" alt="rsvp" /></div><!--end col-md-3-->
						<div class="col-md-6">
							<div class="contact-form">
								<form method="POST" id="contact-form" class="form-horizontal" action="http://designwp.com/amor/contact-form.php" onSubmit="alert('Thank you for your feedback!');">
									<div class="form-group">
									<label>Name</label>
									<input class="form-control" type="text" name="name" required/>
									</div>
									
									<div class="form-group">
									<label>Email</label>
										<input class="form-control" name="email" type="text" required/>
									</div>
									
									<div class="form-group">
									<label>Are you attending?</label><br />
										<input id="radio_1" type="radio" name="radio_group" value="yes">
										<label class="attending-text" for="radio_1">Yes, I am attending</label>
										<input id="radio_2" type="radio" name="radio_group" value="no">
										<label class="attending-text" for="radio_2">No, I am not attending</label>
									</div>
									
									<div class="form-group">
									<label>Message</label>
										<textarea class="form-control" name="message" rows="6" maxlength="1024" required></textarea>
									</div>
									
									<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">
										<button class="btn btn-default" type="reset" >Reset</button>
										<input type="hidden" name="save" value="contact-form">
										<button class="btn btn-success" id="submit" type="submit">Send</button>
									</div>
									</div>
								</form>
							</div><!--end contact-form-->
						</div><!--end col-md-6-->
						<div class="col-md-3 rsvp-image"><img src="assets/rsvp-right.png" alt="rsvp" /></div><!--end col-md-3-->
				</div><!--end row-->
				
		</div><!--end container-->
	</div><!--end #form-->
	<!--END FORM-->
	
	
	
	<!--FOOTER-->
	<div class="copyright">
		<div class="container">
			&copy; 2014 - all rights reserved
		</div><!--end container-->
	</div>
	<!--END FOOTER-->
	
</div><!--end #wrapper-->

