<div id="wrapper">

	<!--NAVIGATION (menu left)-->
	<div class="container">
	<div class="header-quote">“El amor se compone de una sola alma que habita en dos cuerpos”</div>
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger">
				<div class="trigger"><a class="gn-icon gn-icon-menu"><span>Menu</span></a></div>
				<nav class="gn-menu-wrapper">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li><a href="#home" class="gn-icon fa-heart">Inicio</a></li>
							<li><a href="#story" class="gn-icon fa-comment">La Historia</a></li>
							<!-- <li><a href="index.html#about" class="gn&#45;icon fa&#45;users">Special Guests</a></li> -->
							<!-- <li> -->
							<!-- 	<ul class="gn&#45;submenu"> -->
							<!-- 		<li><a href="index.html#parents" class="gn&#45;icon fa&#45;chevron&#45;right">Parents</a></li> -->
							<!-- 		<li><a href="index.html#godfathers" class="gn&#45;icon fa&#45;chevron&#45;right">Godfathers</a></li> -->
							<!-- 		<li><a href="index.html#maids" class="gn&#45;icon fa&#45;chevron&#45;right">Bridesmaids &#38; Groomsmen</a></li> -->
							<!-- 	</ul> -->
							<!-- </li> -->
							<!-- <li><a href="#events" class="gn&#45;icon fa&#45;glass">Eventos</a></li> -->
							<!-- <li> -->
							<!-- 	<ul class="gn&#45;submenu"> -->
              <li><a href="#ceremony" class="gn-icon fa-gavel">Ceremonia</a></li>
              <li><a href="#party" class="gn-icon fa-glass">Fiesta</a></li>
              <!-- </ul> -->
							<!-- </li> -->
							<!-- <li><a href="index.html#registry" class="gn&#45;icon fa&#45;gift">Mesa de Regalos</a></li> -->
							<!-- <li><a href="index.html#album" class="gn&#45;icon fa&#45;camera">Photo Album</a></li> -->
							<li><a href="#rsvp" class="gn-icon fa-book">Invitacion</a></li>
						</ul>
					</div><!--end gn-scroller-->
				</nav>
			</li>
			<li class="back"><a class="gn-icon fa-angle-double-up" href="index.html#top"></a></li>
		</ul>
	</div><!--end container-->
	<section class="ss-style-bottom"></section>
	<!--END NAVIGATION (menu left)-->
	
	
	
	<!--HEADER-->
	<div id="home">
		<!-- <ul id="cbp&#45;bislideshow" class="cbp&#45;bislideshow"> -->
		<!-- 	<li><img src="assets/1.jpg" alt="image01"/></li> -->
		<!-- 	<li><img src="assets/2.jpg" alt="image02"/></li> -->
		<!-- 	<li><img src="assets/3.jpg" alt="image03"/></li> -->
		<!-- </ul> -->
		<ul class="hero-image">
			<li><img src="assets/1.jpg" alt="image01"/></li>
			<!-- <li><img src="assets/2.jpg" alt="image02"/></li> -->
			<!-- <li><img src="assets/3.jpg" alt="image03"/></li> -->
		</ul>
		<div class="container">
			<div class="header animated tada">
				<h1>Diego & Barbara</h1>
				<h4>SE VAN A CASAR</h4>
				<hr />
				<h4>Sabado, 25 de Febrero de 2017 en “La Boda”, CdMX</h4>
				<div class="header-button">
					<a href="index.html#guestbook">CELEBRA CON NOSOTROS!</a>
				</div>
			</div>
		</div>
	</div><!--end #home-->
	<!--END HEADER-->
	
	
	
	<!--STORY-->
	<div id="story">
	<div class="story-content">
		<div class="container">
			<h3>El & Ella. La Feliz Historia!</h3>
			<div class="heart content-style"></div>
		
			<div class="row">
				<div class="col-md-3">
					<div class="shape">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
							<img src="assets/her.jpg" alt="" />
						</div>
					</div>
						<h4 class="bride-name">Barbara Valdivia</h4>
						<h3 class="bride-description">La Novia</h3>
							<!-- <div class="social"> -->
							<!-- 	<a href="index.html#"><i class="fa&#45;facebook"></i></a> -->
							<!-- 	<a href="index.html#"><i class="fa&#45;twitter"></i></a> -->
							<!-- </div> -->
				</div><!--end col-md-3-->
				<div class="col-md-6">
          <p>Yo la conocí en un taxi 
          En camino al club 
          Yo la conocí en un taxi 
          En camino al club 
          Me lo paro 
          El taxi 
          Me lo paro 
          El taxi 
          Me lo paro 
          El taxi 
          Me lo paro 
          El taxi. 

          EN el taxi la conocí por un basil 
          estaba sexy, pero tan sexy 
          que por poquito arrollamos un tipo y chocamos el taxi 
          era el chofer, el que dijo: "!Oye, mira esa mujer!" 
          esta dura, ah dura, que dura 
          pero ya tu sabes que ella quiere efectivo dinero, 
          y saque chula, lula, con culo de mula, 
          y no le tengas duda, ella le saca todo el jugo a la uva 
          que hace vino, si, hace vino. </p>
					
          <p>si, ven aquí si, que no hay... 
          you look like a freaky dame cerebro y pinky 
          tu de Dominiqui te pones quinki 
          you put it in places that I would never think it, 
          ella se bebe dos botellas de vino, 
          para que seria mas fino sea bueno pa' lo intestinos 
          pero no, a ella lo que le gustan son los masculinos 
          para ella se le vino, ¿qué?, que ella hace el vino.</p>
					
					<p>. . . </p>
				</div><!--end-col-md-6-->
				<div class="col-md-3">
					<div class="shape">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
							<img src="assets/him.jpg" alt="" />
						</div>
					</div>
						<h4 class="groom-name">Diego Garaygordobil</h4>
						<h3 class="groom-description">El Novio</h3>
							<!-- <div class="social"> -->
							<!-- 	<a href="index.html#"><i class="fa&#45;facebook"></i></a> -->
							<!-- 	<a href="index.html#"><i class="fa&#45;twitter"></i></a> -->
							<!-- </div> -->
				</div><!--end col-md-3-->
			</div><!--end row-->
			
		</div><!--end container-->
	</div><!--end story content-->
	</div><!--end #story-->
	<!--END STORY-->
	
	
	
	<!--TIMER-->
	<div id="timer">
		<div class="container">	
			<div id="countdown-bg">
				<ul id="countdown">
					<li> <span class="days">00</span>
					<div class="timeRefDays">dias</div>
					</li>
					<li> <span class="hours">00</span>
					<div class="timeRefHours">horas</div>
					</li>
					<li> <span class="minutes">00</span>
					<div class="timeRefMinutes">minutos</div>
					</li>
					<li> <span class="seconds">00</span>
					<div class="timeRefSeconds">segundos</div>
					</li>
				</ul>
			</div>
			<div class="timer-text"><h2>para el feliz evento!</h2></div>
		</div><!--end container-->
	</div><!--end #timer-->
	<!--END TIMER-->
	
	
	
	<!--ABOUT-->
	<!-- <div id="about"> -->
	<!-- 	<div class="container">	 -->
	<!-- 	 -->
	<!-- 	 -->
	<!-- 		<!&#45;&#45;Parents&#45;&#45;> -->
	<!-- 		<div id="parents"> -->
	<!-- 			<h3>The Happy Couple's Parents</h3> -->
	<!-- 			<div class="heart content&#45;style"></div> -->
	<!-- 			 -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="parents"> -->
	<!-- 					<a href="index.html#" class="overlay hexagon"></a> -->
	<!-- 					<div class="base"> -->
	<!-- 						<img src="assets/her&#45;mother.jpg" alt="" /> -->
	<!-- 					</div> -->
	<!-- 					<div class="parents&#45;text&#45;women"><h4>Ana Jones</h4></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="parents"> -->
	<!-- 					<a href="index.html#" class="overlay hexagon"></a> -->
	<!-- 					<div class="base"> -->
	<!-- 						<img src="assets/her&#45;father.jpg" alt="" /> -->
	<!-- 					</div> -->
	<!-- 					<div class="parents&#45;text&#45;men"><h4>Paul Jones</h4></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;4"> -->
	<!-- 					<div class="parents&#45;text"><h2>&#38;laquo; &#38;nbsp; hers &#38;nbsp; &#38;  &#38;nbsp; his &#38;nbsp; &#38;raquo; </h2></div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;4&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="parents"> -->
	<!-- 					<a href="index.html#" class="overlay hexagon"></a> -->
	<!-- 					<div class="base"> -->
	<!-- 						<img src="assets/his&#45;mother.jpg" alt="" /> -->
	<!-- 					</div> -->
	<!-- 					<div class="parents&#45;text&#45;women"><h4>Lara Smith</h4></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="parents"> -->
	<!-- 					<a href="index.html#" class="overlay hexagon"></a> -->
	<!-- 					<div class="base"> -->
	<!-- 						<img src="assets/his&#45;father.jpg" alt="" /> -->
	<!-- 					</div> -->
	<!-- 					<div class="parents&#45;text&#45;men"><h4>George Smith</h4></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 			</div><!&#45;&#45; end row &#45;&#45;> -->
	<!-- 		</div><!&#45;&#45;end #parents&#45;&#45;> -->
	<!-- 		 -->
	<!-- 		 -->
	<!-- 		<!&#45;&#45;Godfathers&#45;&#45;> -->
	<!-- 		<div id="godfathers"> -->
	<!-- 			<h3>The Godfathers</h3> -->
	<!-- 			<div class="heart content&#45;style"></div> -->
	<!-- 			 -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col&#45;md&#45;4"> -->
	<!-- 					<div class="godfathers&#45;text&#45;women"><h4>Tina Snow</h4> -->
	<!-- 					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor lectus eu congue fringilla. Vivamus malesuada dictum lorem.</p></div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;4&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="godfathers"> -->
	<!-- 						<div class="overlay hexagon"></div> -->
	<!-- 						<div class="godfathers&#45;img"><img src="assets/godmother.jpg" alt="" /></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="godfathers"> -->
	<!-- 						<div class="overlay hexagon"></div> -->
	<!-- 						<div class="godfathers&#45;img"><img src="assets/godfather.jpg" alt="" /></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;4"> -->
	<!-- 					<div class="godfathers&#45;text&#45;men"><h4>Derek Snow</h4> -->
	<!-- 					<p>Vivamus in sodales lorem. Nunc vel dolor at diam viverra dignissim. Cras a est eget nulla porttitor hendrerit. Nunc eget sapien.</p></div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;4&#45;&#45;> -->
	<!-- 			</div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 		</div><!&#45;&#45;end #godfathers&#45;&#45;> -->
	<!-- 				 -->
	<!-- 				 -->
	<!-- 		<div id="maids"> -->
	<!-- 			<h3>Bridesmaids &#38; Groomsmen</h3> -->
	<!-- 			<div class="heart content&#45;style"></div> -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col&#45;md&#45;3"> -->
	<!-- 					<div class="bridesmaid"> -->
	<!-- 						<img src="assets/bridesmaid.png" alt="bridesmaids" /> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;3 maids"> -->
	<!-- 					<div class="bridesmaids"> -->
	<!-- 					<h4>Jenny Doe</h4> -->
	<!-- 					<h4>Carla Croft</h4> -->
	<!-- 					<h4>Andrea James</h4> -->
	<!-- 					<h4>Tina Mosk</h4> -->
	<!-- 					<h4>Jessie Silver</h4> -->
	<!-- 					<h4>Vivian Stone</h4> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;3 maids"> -->
	<!-- 					<div class="groomsmen"> -->
	<!-- 					<h4>Brian Smith</h4> -->
	<!-- 					<h4>Alex Dean</h4> -->
	<!-- 					<h4>Karl Mann</h4> -->
	<!-- 					<h4>Robert Fox</h4> -->
	<!-- 					<h4>Steve Jones</h4> -->
	<!-- 					<h4>Daryl Gold</h4> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;3"> -->
	<!-- 					<div class="bestman"> -->
	<!-- 						<img src="assets/bestman.png" alt="bestmen" /> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 				 -->
	<!-- 			</div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 		</div><!&#45;&#45;end #maids&#45;&#45;> -->
	<!-- 		 -->
	<!-- 	</div><!&#45;&#45; end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #about&#45;&#45;> -->
	<!-- <!&#45;&#45;END ABOUT&#45;&#45;> -->
	
	
	
	<!-- <!&#45;&#45;EVENTS&#45;&#45;> -->
	<!-- <div id="events"> -->
	<!-- 	<div class="container"> -->
	<!-- 		<div class="events"> -->
	<!-- 			<h2>You are welcome to attend our Wedding Ceremony and our Wedding Party<br /> on 24th of May at "La Pirati", Vama Veche!</h2> -->
	<!-- 			<div class="events&#45;button"> -->
	<!-- 				<a href="index.html#guestbook">RSVP here</a> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</div><!&#45;&#45;end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #events&#45;&#45;> -->
	<!-- <!&#45;&#45;END EVENTS&#45;&#45;> -->
	
	
	
	<!--WEDDING-->
	<div id="wedding">
		<div class="container">
		
			<div id="ceremony">
			<h3>La Ceremonia</h3>
			<div class="heart content-style"></div>
			
				<div class="row">
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Fecha:</h4> <p>25 de febrero 2017</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Tiempo:</h4> <p>4:00 de la tarde</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Ubicacion:</h4> <p>Iglesia "St. Jacinto", Roma</p>
						</div>
					</div><!--end col-md-4-->
				</div><!--end row-->
				
				<div class="row">
					<div class="col-md-6">
						<div class="ceremony-text">
						<p>Una diseñadora de moda de Nueva York prometida al soltero de oro de la ciudad, esconde un pasado lleno de secretos, como un paleto sureño con el que se casó en el instituto. Decidida a terminar con su tormentoso matrimonio, regresa a su casa en Alabama para enfrentarse a su pasado pero comprende que aunque una chica se marche del sur, el sur nunca la abandona.</p>
						</div>
					</div><!--end col-md-6-->
					<div class="col-md-6">
						<!-- Slideshow -->
						<div class="rslides_container">
						  <ul class="rslides" id="slider">
							<li><img src="assets/ceremony1.jpg" alt=""></li>
							<li><img src="assets/ceremony2.jpg" alt=""></li>
							<li><img src="assets/ceremony3.jpg" alt=""></li>
						  </ul>
						</div>
					</div><!--end col-md-6-->
				</div><!--end row-->	
			</div><!--end #ceremony-->
			
			
			<div id="party">
			<h3>La Fiesta</h3>
			<div class="heart content-style"></div>
			
				<div class="row">
					<div class="col-md-4">
						<div class="party-data">
						<h4>Fecha:</h4> <p>25 de Febrero de 2017</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="party-data">
						<h4>Time:</h4> <p>7:00pm de la tarde</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="party-data">
						<h4>Lugar:</h4> <p>Restaurante "Las pitayas", CdMX</p>
						</div>
					</div><!--end col-md-4-->
				</div><!--end row-->
				
				<div class="row">
					<div class="party-text">
						<p>¡Ven a disfrutar con nosotros el bodorrio!, lo pasaran increible bailando y moviendo el bote.</p>
					</div>
				</div><!--end row-->
				
				<div class="row">
					<div id="party-carousel">
						<div class="item"><img src="assets/party1.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party2.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party3.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party4.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party5.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party6.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party7.jpg" alt="Image"></div>
						<div class="item"><img src="assets/party8.jpg" alt="Image"></div>
					</div>
				</div><!--end row-->
				
				<div class="row">
					<div class="col-md-6">
						<div class="party-text">
							<p>El Tesoro del Inca Restaurante invita a la comunidad  peruana y al público en general a disfrutar de la mejor comida peruana durante las celebraciones de Fiestas Patrias. El mejor pollo a la brasa, ricos tamales, anticuchos, papas rellenas y lo mejor del repertorio gastronómico del Perú en un solo lugar. ¡Ven y reserva tu mesa! ¡Te esperamos!</p>
							<div class="location-data">
								<h4>Restaurante "La Pitaya"</h4>
								<p>Sesamo No.69<br />
									 28000, Ciudad de Mexico</p>
							</div>
						</div>
					</div><!--end col-md-6-->
					<div class="col-md-6">
							<div id="gmap">
								<div id="location"></div>
							</div>
					</div><!--end col-md-6-->
				</div><!--end row-->
			</div><!--end #party-->
			
		</div><!--end container-->
	</div><!--end #wedding-->
	<!--END WEDDING-->
	
	
	
	<!--GIFT REGISTRY-->
	<!-- <div id="registry"> -->
	<!-- 	<div class="container"> -->
	<!-- 		<div class="registry&#45;text"> -->
	<!-- 			<h2>Ve nuestra Mesa de Regalos y ayudanos a construir nuestro futuro juntos.</h2> -->
	<!-- 		</div> -->
	<!-- 		<div class="row registry"><div class="registry&#45;logos"> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo1.png" alt="logo1"/></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo2.png" alt="logo2" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo3.png" alt="logo3" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo4.png" alt="logo4" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 		</div></div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 		<div class="row"><div class="registry&#45;logos"> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo5.png" alt="logo5" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo6.png" alt="logo6" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 		</div></div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 	</div><!&#45;&#45;end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #registry&#45;&#45;> -->
	<!--END GIFT REGISTRY-->
	
	
	
	<!--PHOTO ALBUM-->
	<!-- <div id="album"> -->
	<!-- 	<div class="container"> -->
	<!-- 		<h3>The Lovers' Photo Album</h3> -->
	<!-- 		<div class="heart content&#45;style"></div> -->
	<!-- 		 -->
	<!-- 			<div class="album&#45;text"> -->
	<!-- 				<p>Sanitas vitae massa ligula. Donec scelerisque rutrum libero tempus posuere. Morbi tristique diam non porttitor aliquet. Morbi gravida bibendum leo, sed porta mauris laoreet in. Duis sed elit mauris. Donec mollis sapien in quam aliquam sodales. Integer mattis leo ac ante suscipit semper. Curabitur vel malesuada augue, non ultrices lacus. Vestibulum id suscipit leo, ac semper lectus. Aenean mollis neque mi, vel eleifend neque vestibulum vel. Mauris orci diam, bibendum eu lobortis.</p> -->
	<!-- 			</div> -->
	<!-- 			 -->
	<!-- 			<div class="prettyPhoto&#45;gallery" style="visibility: hidden; opacity: 0;"> -->
	<!-- 			<section id="photostack" class="photostack"> -->
	<!-- 				<div> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large1.jpg" class="photostack&#45;img"><img src="assets/album/1.jpg" alt="Autumn Walk" /></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Autumn Walk</h2> -->
	<!-- 							<div class="photostack&#45;back"> -->
	<!-- 								“I feel like everything in my life has led me to you. My choices, my heartbreaks, my regrets. Everything. My past seems worth it. Because if I had done one thing differently, I might never have met you.”  -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large3.jpg" class="photostack&#45;img"><img src="assets/album/3.jpg" alt="Happy Moments"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Happy Moments</h2> -->
	<!-- 							<div class="photostack&#45;back">		 -->
	<!-- 								"The only way you can beat my crazy was by doing something crazy yourself. Thank you. I love you. I knew it the minute I met you. I’m sorry it took so long for me to catch up. I just got stuck." -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large10.jpg" class="photostack&#45;img"><img src="assets/album/10.jpg" alt="My Sunshine"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">My Sunshine</h2> -->
	<!-- 							<div class="photostack&#45;back"> -->
	<!-- 								"I want his fingers to always find the spaces in between mine."  -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large16.jpg" class="photostack&#45;img"><img src="assets/album/16.jpg" alt="At the Countryside"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">At the Countryside</h2> -->
	<!-- 							<div class="photostack&#45;back"> -->
	<!-- 								"I've looked around enough to know that you're the one I want to go through time with." -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large9.jpg" class="photostack&#45;img"><img src="assets/album/9.jpg" alt="Relaxing on the Beach"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Relaxing on the Beach</h2> -->
	<!-- 							<div class="photostack&#45;back">			 -->
	<!-- 								"Before we met, I was as lost as a person could be and yet you saw something in me that somehow gave me direction again." -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large4.jpg" class="photostack&#45;img"><img src="assets/album/4.jpg" alt="Love is in the Air"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Love is in the Air</h2> -->
	<!-- 							<div class="photostack&#45;back">		 -->
	<!-- 								"You do realize that your greatest superpower is your ability to win me over with just one look, no matter how ridiculous you sound, right?" -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/7.jpg" alt="img07"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Fit for Each Other</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/8.jpg" alt="img08"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">One Rainy Day</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/6.jpg" alt="img06"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Just Happy</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/2.jpg" alt="img02"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Country Talk</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/11.jpg" alt="img11"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Resting in the Park</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/12.jpg" alt="img12"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Eternity</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/13.jpg" alt="img13"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">A Romantic Date</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/14.jpg" alt="img14"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Watching the Sky</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/15.jpg" alt="img15"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">There's Only Love</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/5.jpg" alt="img5"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Together Again</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					</div> -->
	<!-- 			</section> -->
	<!-- 			</div><!&#45;&#45;end PrettyPhoto gallery&#45;&#45;> -->
	<!-- 	</div><!&#45;&#45;end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #album&#45;&#45;> -->
	<!--END PHOTO ALBUM-->

	
	
	<!--RSVP-->
	<div id="rsvp">
		<div class="container">
			<div class="rsvp-text">
				<h2>Podemos contar con tu asistencia?</h2>
				<p>Por favor confirma tu presencia al evento hasta antes del 1 de Febrero 2017. Gracias!</p>
			</div>
		</div><!--end container-->
	</div><!--end #rsvp-->
	<!--END RSVP-->
	
	
	
	<!--FORM-->
	<div id="form">
		<div class="container">
			<h3>Invitacion</h3>
			<div class="heart content-style"></div>
			
				<div class="row">
						<div class="col-md-3 rsvp-image"><img src="assets/rsvp-left.png" alt="rsvp" /></div><!--end col-md-3-->
						<div class="col-md-6">
							<div class="contact-form">
								<form method="POST" id="contact-form" class="form-horizontal" action="http://designwp.com/amor/contact-form.php" onSubmit="alert('Thank you for your feedback!');">
									<!-- <div class="form&#45;group"> -->
									<!-- <label>Name</label> -->
									<!-- <input class="form&#45;control" type="text" name="name" required/> -->
									<!-- </div> -->
									<!--  -->
									<!-- <div class="form&#45;group"> -->
									<!-- <label>Email</label> -->
									<!-- 	<input class="form&#45;control" name="email" type="text" required/> -->
									<!-- </div> -->
									
									<div class="form-group">
                    <label class="attending-question">Asistiras?</label><br />
										<input id="radio_1" type="radio" name="radio_group" class="radio-inv" value="yes">
										<label class="attending-text" for="radio_1">Si, voy a ir</label>
										<input id="radio_2" type="radio" name="radio_group" class="radio-inv" value="no">
										<label class="attending-text" for="radio_2">No, voy a ir</label>
									</div>
									
									<!-- <div class="form&#45;group"> -->
									<!-- <label>Message</label> -->
									<!-- 	<textarea class="form&#45;control" name="message" rows="6" maxlength="1024" required></textarea> -->
									<!-- </div> -->
									
									<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">
										<!-- <button class="btn btn&#45;default" type="reset" >Reset</button> -->
										<input type="hidden" name="save" value="contact-form">
										<button class="btn btn-success" id="submit" type="submit">Confirmar</button>
									</div>
									</div>
								</form>
							</div><!--end contact-form-->
						</div><!--end col-md-6-->
						<div class="col-md-3 rsvp-image"><img src="assets/rsvp-right.png" alt="rsvp" /></div><!--end col-md-3-->
				</div><!--end row-->
				
		</div><!--end container-->
	</div><!--end #form-->
	<!--END FORM-->
	
	
	
	<!--FOOTER-->
	<div class="copyright">
		<div class="container">
			&copy; Desarrollado por Zazvick
		</div><!--end container-->
	</div>
	<!--END FOOTER-->
	
</div><!--end #wrapper-->

